@import "./../../../styles/variables.scss";

.flex{
    display: flex;
    justify-content: space-between;
    padding: 10em 3em;

    img{
        max-width: 100%;
        width: 48%;
        align-self: center;
        border-radius: 12px;
    }

    div{
        width: 48%;
        align-self: center;

        p{
            font-size: 1.3em;
            color: #262729B3;
        }

        button{
            outline: none;
            border: none;
            padding: 0.6em 1.2em;
            border-radius: 4px;
            background-color: $fidalgo;
            font-weight: bold;
            margin-top: 0.7em;
            color: $white;
            border: 1px solid $fidalgo;
            transition: all 0.2s ease-in-out;
            font-size: 1em;
            width: 80%;

            &:hover {
                background-color: $white;
                color: $fidalgo;
                border: 1px solid $fidalgo;
            }
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        padding: 5em;

        img, div{
            width: 100%;
        }

        div{
            margin-top: 3em;
            text-align: center;
        }
    }
}