@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.FormContainer {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.FormContainer img {
  width: 40%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.FormContainer .title {
  font-size: 3em;
  margin: 0;
}

.FormContainer .title a {
  text-decoration: none;
  color: #000000;
}

.FormContainer .form {
  width: 100%;
}

.FormContainer .form .error {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #EF233C;
  margin-bottom: -1.5em;
  max-width: 80%;
  text-align: center;
}

.FormContainer .form label {
  display: block;
  width: 82%;
  margin: auto;
  font-size: .9em;
  color: #001A23;
}

.FormContainer .form label:nth-of-type(1) {
  margin-top: 2em;
}

.FormContainer .form input {
  display: block;
  width: 75%;
  padding-left: 1em;
  padding-right: 1em;
  height: 45px;
  border-radius: 7px;
  font-size: 1em;
  margin: .3em auto 2em;
  outline: none;
  border: 1px solid #C0C0C0;
}

.FormContainer .form input:disabled {
  cursor: not-allowed;
}

.FormContainer .form input:focus {
  border: 1px solid #127EB1;
}

.FormContainer .form button {
  display: block;
  width: 82%;
  margin: auto;
  height: 50px;
  border-radius: 7px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #127EB1;
  color: #FFFFFF;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.FormContainer .form button.danger {
  background-color: #EF233C;
}

.FormContainer .form button:hover {
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 4px 1px rgba(0, 0, 0, 0.7);
}

.FormContainer .form button:disabled:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  cursor: not-allowed;
}

.FormContainer .form button .spinner {
  width: 2em;
  height: 2em;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

@media screen and (max-width: 490px) {
  .FormContainer .form button {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .FormContainer .form {
    padding: 0;
    padding-bottom: 1.5em;
  }
}

.FormContainer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 2em;
}

.FormContainer .info span {
  cursor: pointer;
}

.FormContainer .info span.forget a {
  color: #EF233C;
  text-decoration: none;
}

.FormContainer .info span.sign a {
  color: #1849ec;
  text-decoration: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
