@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.Testimonial .Container {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.Testimonial .Container .Children {
  width: 60%;
  margin: auto;
  height: 15em;
  color: red;
  position: relative;
}

@media screen and (min-width: 768px) {
  .Testimonial .Container .Children {
    height: 10em;
  }
}

@media screen and (max-width: 768px) {
  .Testimonial .Container .Children {
    width: 80%;
    height: 10em;
  }
}

@media screen and (max-width: 600px) {
  .Testimonial .Container .Children {
    width: 80%;
    height: 15em;
  }
}

@media screen and (max-width: 599px) {
  .Testimonial .Container .Children {
    width: 80%;
    height: 12em;
  }
}

@media screen and (max-width: 425px) {
  .Testimonial .Container .Children {
    height: 15em;
    width: 75%;
    margin-left: auto;
    margin-right: 5%;
  }
}

.Testimonial .Container .Children p {
  color: black;
  position: relative;
}

.Testimonial .Container .Children p.testimony::before {
  content: open-quote;
  font-size: 7em;
  position: absolute;
  top: -.35em;
  left: -.35em;
  color: #127EB1;
}

.Testimonial .Container .Children p.testimonial {
  width: 100%;
  text-align: right;
}

.Testimonial .Container .Children p.testimonial .name {
  font-family: "Rubik", sans-serif;
}

.Testimonial .Container .Children p.testimonial .name:before {
  content: '- ';
}

.Testimonial .Container .Children p.testimonial .title {
  font-size: .8em;
}

.Testimonial .Container .Dots {
  text-align: center;
  z-index: 100;
  width: 100%;
}

.Testimonial .Container .Dots .Dot {
  font-size: 1.5em;
  cursor: pointer;
  text-shadow: 1px 1px 1px #fff;
  color: #127EB1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
