@import "./../../styles/variables.scss";

.card {
    background-color: $white;
    box-shadow: 0px 10px 30px -4px rgba($black, 0.15);
    padding: 2em;
    margin: 2em auto;
    border-radius: 5px;
    width: 85%;
    text-align: left;
}

form {
    background-color: $white;
    box-shadow: 0px 10px 30px -4px rgba($black, 0.15);
    padding: 2em;
    margin: 2em auto;
    border-radius: 5px;
    width: 85%;

    h3 {
        text-align: center;
        margin-top: 0;
    }

    input {
        display: block;
        width: 75%;
        padding-left: 1em;
        height: 45px;
        border-radius: 7px;
        font-size: 1em;
        margin: 2em auto;
        outline: none;
        border: 1px solid $silver;

        &:disabled {
            cursor: not-allowed;
        }

        &:focus {
            border: 1px solid $fidalgo;
        }

        @media screen and (max-width: 490px) {
            width: 90%;
        }
    }

    button {
        display: block;
        width: 82%;
        margin: auto;
        height: 50px;
        border-radius: 7px;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: $fidalgo;
        color: $white;
        box-shadow: 0 4px 1px rgba($black, 0.4);
        transition: box-shadow 0.2s linear;

        &.danger {
            background-color: $imperialred;
        }

        &:hover {
            box-shadow: 0 4px 1px rgba($black, 0.7);
        }

        &:disabled {
            &:hover {
                transform: translateY(0);
                cursor: not-allowed;
            }
        }

        .spinner {
            width: 2em;
            height: 2em;
            animation: rotate 1s linear infinite;
        }

        @media screen and (max-width: 490px) {
            width: 100%;
        }
    }
}


@media screen and (max-width: 490px) {
    .card, form{
        padding: 1;
        border-radius: 0;
    }

    form{
        padding-left: 1.5em;
    }
}
