@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.banner {
  min-height: 95vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.banner .bg {
  position: absolute;
  font-size: 12vw;
  color: rgba(18, 126, 177, 0.2);
  right: 0;
}

@media screen and (max-width: 768px) {
  .banner .bg {
    display: none;
  }
}

.banner .content {
  margin-left: 2em;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .banner .content {
    width: 80%;
  }
}

.banner .content h1 {
  margin: 0.2em 0;
  font-size: 3.5em;
  line-height: 1em;
  color: #000000;
  font-weight: 100;
}

.banner .content small {
  color: #000000;
  font-weight: bold;
}

.banner .content small:nth-of-type(1) {
  color: #127EB1;
}

.banner .content .left {
  margin-left: 2em;
}

.banner .content button {
  outline: none;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  background-color: #127EB1;
  font-weight: bold;
  margin-top: 0.7em;
  color: #FFFFFF;
  border: 1px solid #127EB1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 2em;
}

.banner .content button:hover {
  background-color: #FFFFFF;
  color: #127EB1;
  border: 1px solid #127EB1;
}
