@import "./../../../styles/variables.scss";

.banner {
    min-height: 95vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.1);
    position: relative;

    .bg {
        position: absolute;
        font-size: 12vw;
        color: rgba($color: $fidalgo, $alpha: 0.2);
        right: 0;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .content {
        margin-left: 2em;
        width: 40%;

        @media screen and (max-width: 768px) {
            width: 80%;
        }

        h1 {
            margin: 0.2em 0;
            font-size: 2.7em;
            line-height: 1em;
            color: $black;
            font-weight: 100;
        }

        small {
            color: $black;
            font-weight: bold;

            &:nth-of-type(1) {
                color: $fidalgo;
            }
        }

        .left {
            margin-left: 2em;
        }

        button {
            outline: none;
            border: none;
            padding: 0.6em 1.2em;
            border-radius: 4px;
            background-color: $fidalgo;
            font-weight: bold;
            margin-top: 0.7em;
            color: $white;
            border: 1px solid $fidalgo;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $white;
                color: $fidalgo;
                border: 1px solid $fidalgo;
            }
        }
    }
}
