@font-face{
    src: url(./../assets/fonts/Nunito/Nunito-Regular.ttf);
    font-family: "Nunito";
}

@font-face{
    src: url(./../assets/fonts/Nunito/Nunito-Bold.ttf);
    font-family: "NunitoBold";
}

@font-face{
    src: url(./../assets/fonts/Nunito/Nunito-Light.ttf);
    font-family: "NunitoLight";
}

@font-face{
    src: url(./../assets/fonts/Nunito/Nunito-SemiBold.ttf);
    font-family: "NunitoMedium";
}

$blue: #329bff;
$lblue: #3A6EA5;
$platinum: #EBEBEB;
$silver: #C0C0C0;
$orange: #FF6700;
$white: #FFFFFF;
$black: #000000;
$bluesapphire: #22577A;
$cadetblue: #38A3A5;
$midaquamairne: #57CC99;
$lightgreen: #80ED99;
$teagreen: #C7F9CC;
$menionyellow: #FEE440;
$capri: #00BBF9;
$imperialred: #EF233C;
$richblack: #001A23;

$N: "Nunito", sans-serif;
$NB: "NunitoBold", sans-serif;
$NL: "NunitoLight", sans-serif;
$NM: "NunitoMedium", sans-serif;

*{
    font-family: $N;
}