@import "./../../../styles/variables.scss";

.card{
    background-color: $white;
    box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    padding: 2em;
    margin: 2em auto;
    border-radius: 5px;

    @media screen and (max-width: 425px) {
        padding: 2em 1em;
    }

    img{
        max-width: 50%;
        display: block;
        margin: auto;
    }

    h4{
        text-align: center;
        margin: 0;
    }

    p{
        text-align: center;
    }
}

.card25{
    width: 20%;
    padding: 1em;
    text-align: center;
    color: $white;
    transition: transform .3s linear;
    
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.15);
    }
}
.card30{
    width: 25%;
    transition: background .2s ease-in-out;
    cursor: pointer;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

    &:hover{
        background-color: $fidalgo;
        color: $white;
    }
}

.mtn{
    background: yellow;
    color:  $black;
}

.glo{
    background: green;
}

.airtel{
    background: red;
}

.nmobile{
    background: linear-gradient(60deg, #006848, #b4c404);
    color:  $black;
}

@media screen and (max-width: 768px) {
    .card25, .card30{
        width: 80%;
    }
}