@import "./../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $fidalgo;
    background-color: $white;
    box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    padding: 2em;
    margin: 2em auto;
    border-radius: 5px;
    width: 85%;
    text-align: right;

    h1,
    h2,
    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    button {
        background-color: $fidalgo;
        outline: none;
        border: none;
        color: $white;

        &.fund {
            font-size: 5em;
            border-radius: 50%;
            width: 1em;
            height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and( max-width: 600px ) {
        width: 70%;
    }
}

.refLink {
    position: relative;

    input {
        width: 100%;
        height: 2.2em;
        outline: none;
        border: 1px solid $fidalgo;
        border-radius: 25px;
        padding-left: 1em;
    }

    button {
        height: 2.2em;
        width: 6em;
        position: absolute;
        right: 2.5em;
        border-radius: 0 25px 25px 0;
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    margin: 2em auto;

    a {
        background-color: $white;
        color: #000000;
        text-decoration: none;
        box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
        width: 30%;
        text-align: center;
        padding: 1em 0;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    @media screen and( max-width: 600px ) {
        flex-direction: column;
        margin: 0.5em auto;

        a {
            width: 100%;
            margin: 0.5em auto;
        }
    }
}

.balances {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92.5%;
    margin: 2em auto;

    div {
        background-color: $white;
        box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
        width: 40.5%;
        text-align: right;
        padding: 2.5em 3.5%;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        color: $fidalgo;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        position: relative;

        h1,
        h2 {
            margin: 0;
        }
    }

    @media screen and( max-width: 600px ) {
        width: 94%;
        flex-direction: column;
        margin: 0.5em auto;

        div {
            width: 86%;
            padding: 1.5em 6.5%;
            margin: 0.5em auto;
        }
    }
}

.atm {
    position: relative;
    user-select: none;
    cursor: copy;
    box-shadow: 4px 6px rgba(0, 0, 0, 1);

    h2, h3{
        margin: 0;
    }

    display: block;
    background-color: $fidalgo;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(
            45deg,
            rgba(0, 191, 255, 0.5),
            rgba(0, 191, 255, 0.5) 1px,
            transparent 1px,
            transparent 15px
        ),
        repeating-linear-gradient(
            -45deg,
            rgba(255, 225, 225, 0.5),
            rgba(255, 225, 225, 0.5) 1px,
            transparent 1px,
            transparent 15px
        );

    h2.number {
        text-align: center;
        color: $white !important;
        font-size: 3em;
        font-family: "Dosis", sans-serif;
        letter-spacing: 0.2em;
    }

    h3 {
        text-align: center;
        color: $white !important;
        font-size: 1.4em;
        font-family: "Dosis", sans-serif;
        letter-spacing: 0.2em;

        &:nth-of-type(1){
            padding-top: 1.3em;
        }
        &:nth-of-type(2){
            padding-bottom: 1.3em;
        }
    }

    span{
        color: #fdfdfd;
        position: absolute;
        bottom: 2px;
        right: 5px;
        font-size: .5em;
    }

    @media screen and (max-width: 450px) {
        width: 75%;
        padding: 2em 1.5em;

        h2.number{
            font-size: 1.8em;
            width: 100%;
        }
        h3{
            font-size: .8em;
        }
    }
}
