@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.MainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 2em;
  font-family: "Rubik", sans-serif;
  bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  background: white;
  top: 0;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .MainNav {
    padding: 1em 0.5em;
  }
}

.MainNav h2 {
  margin: 0;
}

.MainNav h2 a {
  text-decoration: none;
  color: #000000;
}

.MainNav h2 a .yellow {
  color: #127EB1;
}

.MainNav ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 880px) {
  .MainNav ul {
    position: fixed;
    z-index: 1000;
    top: 0em;
    margin-top: 0em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-left: 2em;
    background-color: #FFFFFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-left: 0;
  }
  .MainNav ul.visibleNav {
    left: 0;
  }
  .MainNav ul.inVisibleNav {
    left: -150%;
  }
}

.MainNav ul li {
  text-align: center;
  width: 100%;
  margin: 1em auto;
}

.MainNav ul li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.MainNav ul li a.active, .MainNav ul li a:hover {
  color: #127EB1;
}

.MainNav ul li.hidden {
  display: none;
}

@media screen and (max-width: 880px) {
  .MainNav ul li.hidden {
    display: block;
  }
}

.MainNav button {
  outline: none;
  border: 2px solid #127EB1;
  color: #127EB1;
  font-weight: bold;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
  border-radius: 25px;
  padding: 0.5em 2em;
  background-color: transparent;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

@media screen and (max-width: 400px) {
  .MainNav button {
    display: none;
  }
}

.MainNav button:hover {
  background-color: #127EB1;
  border: 2px solid #127EB1;
  color: #fff;
}

.MainNav .hamburger {
  position: relative;
  display: none;
  right: 20px;
  z-index: 2000;
}

@media screen and (max-width: 880px) {
  .MainNav .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .MainNav .hamburger {
    right: 0;
  }
}

.MainNav .hamburger label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MainNav .hamburger_bars {
  height: 5px;
  width: 35px;
  border-radius: 40px;
  display: inline-block;
  background-color: #000000;
  margin: 2px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.MainNav .hamburger_check {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateX(99999px);
          transform: translateX(99999px);
}

.MainNav .hamburger_check:checked + label .hamburger_bars:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.MainNav .hamburger_check:checked + label .hamburger_bars:nth-of-type(2) {
  opacity: 0;
}

.MainNav .hamburger_check:checked + label .hamburger_bars:nth-of-type(3) {
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
