@import "./../../../styles/variables.scss";

.Contacts {
    font-family: $N;

    h1 {
        padding-left: 0.5em;

        &.or {
            text-align: center;
            font-size: 3em;
            color: lighten($color: $blue, $amount: 30%);
        }

        span {
            color: $blue;
        }
    }

    .Cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2em 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .Card {
            min-height: 15em;
            border: 1px solid $silver;
            width: 30%;
            text-align: center;
            padding: 3em 0 2em;
            border-radius: 7px;
            transition: all 0.3s linear;

            @media screen and (max-width: 768px) {
                width: 95%;
                margin: 1em auto;
            }

            img {
                cursor: pointer;
            }

            h2 {
                transition: all 0.2s linear;
                &:hover {
                    color: $blue;
                    cursor: pointer;
                }
            }

            p {
                margin: auto;
                font-family: $N;
                font-size: 0.95em;

                span {
                    transition: all 0.2s linear;
                    &:hover {
                        color: $blue;
                        cursor: pointer;
                    }
                }
            }

            img {
                width: 5em;
            }

            &:hover {
                border: 1px solid $blue;

                h2 {
                    color: $blue;
                }
            }
        }
    }

    form {
        width: 95%;
        margin: 0 auto 3em;

        h1 {
            padding-left: 0;
        }

        input,
        textarea,
        button {
            display: block;
            font-family: $N;
        }

        label {
            font-family: $N;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.5em 0;
            margin: 1em 0 2em;
            outline: none;
            border: none;
            border-bottom: 1px solid $silver;
        }

        button {
            width: 100%;
            outline: none;
            border: 1px solid $blue;
            color: $blue;
            cursor: pointer;
            font-family: $N;
            font-size: 1.2em;
            border-radius: 25px;
            padding: 0.5em 2em;
            background-color: transparent;
            transition: background 0.1s linear;

            &:hover {
                background-color: $blue;
                border: 1px solid $blue;
                color: #fff;
            }
        }
    }
}
