@import "./../../styles/variables.scss";

.sidebar {
    width: 25%;
    // padding: 1em 3em 0;
    background-color: $fidalgo;
    overflow-y: scroll;
    height: 100%;

    nav {
        margin: 0;
        ul {
            padding-inline-start: 0;
            margin: 0;
            list-style-type: none;

            li {
                padding: 2em 3em;
                font-size: 0.9em;
                font-weight: 600;
                // color: $white;
                transition: background-color 0.2s linear;
                align-items: center;
                display: flex;

                img{
                    margin-right: 1em;
                }

                &:hover {
                    background-color: $white;
                    color: $black;
                    cursor: pointer;
                }
                
                &.preview{
                    background-color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    img{
                        width: 5em;
                    }

                    h4,p{
                        margin: 0;
                    }
                }
            }

            a {
                text-decoration: none;
                color: $white;

                &.active {
                    display: block;
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $platinum;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
        background-color: $fidalgo;
    }

    @media screen and (max-width: 880px) {
        position: fixed;
        z-index: 1000;
        top: 0em;
        margin-top: 0em;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
        height: 100vh;
        transition: all 0.3s linear;
        padding-left: 0;

        ul {
            li {
                text-align: center;
                justify-content: space-between;
            }
        }

        &.visibleNav {
            left: 0;
        }

        &.inVisibleNav {
            left: -150%;
        }
    }
}
