@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.sidebar {
  width: 25%;
  background-color: #127EB1;
  overflow-y: scroll;
  height: 100%;
}

.sidebar nav {
  margin: 0;
}

.sidebar nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar nav ul li {
  padding: 2em 3em;
  font-size: 0.9em;
  font-weight: 600;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar nav ul li img {
  margin-right: 1em;
}

.sidebar nav ul li:hover {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

.sidebar nav ul li.preview {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar nav ul li.preview img {
  width: 5em;
}

.sidebar nav ul li.preview h4, .sidebar nav ul li.preview p {
  margin: 0;
}

.sidebar nav ul a {
  text-decoration: none;
  color: #FFFFFF;
}

.sidebar nav ul a.active {
  display: block;
  background-color: #FFFFFF;
  color: #000000;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #EBEBEB;
  border-radius: 50px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #127EB1;
}

@media screen and (max-width: 880px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    top: 0em;
    margin-top: 0em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-left: 0;
  }
  .sidebar ul li {
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sidebar.visibleNav {
    left: 0;
  }
  .sidebar.inVisibleNav {
    left: -150%;
  }
}
