@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.footer {
  background: #002d3d;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  padding: 4em 3em 2.5em;
}

.footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .footer .flex {
    display: block;
  }
}

.footer .flex div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .flex div.address {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

.footer .flex div.info {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0 1em 0 0;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .footer .flex div.info {
    padding: 0;
  }
}

.footer .flex div.pages {
  padding-left: 2em;
}

.footer .flex div.pages ul li {
  margin: 0.5em 0;
  font-size: 1em;
}

.footer .flex div.pages ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer .flex div.pages ul li a.active {
  color: #127EB1;
}

@media screen and (max-width: 768px) {
  .footer .flex div.pages {
    padding-left: 0;
  }
}

.footer .flex div.table table tr td.disabled {
  color: #EBEBEB;
  font-size: 1.2em;
  font-family: "Rubik", sans-serif;
  padding-right: 1em;
}

.footer .flex div h2 {
  margin-top: 0;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .footer .flex div h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
}

.footer .flex div ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.footer .flex div div.par h2 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer .flex div div.par h2 {
    margin: 0;
    font-size: 1.4em;
  }
}

.footer .flex div div.par p {
  margin: 0;
  font-size: 1em;
}

.footer .logo {
  width: 2.5em;
  max-width: 2.5em;
  color: #EBEBEB;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer .logo {
    margin-top: 1em;
  }
}

.footer .logo:nth-of-type(2), .footer .logo:nth-of-type(3), .footer .logo:nth-of-type(4) {
  margin-left: 0.5em;
}

@media screen and (max-width: 768px) {
  .footer .copyright {
    display: inline-block;
    margin-top: 1.5em;
  }
}

.footer .label {
  background-color: #127EB1;
  text-align: center;
  margin: 2em -1em 0;
  padding: .3em 0;
  color: #000000;
}

.footer .label a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
