@font-face {
  src: url(./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  font-family: "Rubik";
}

* {
  font-family: "Rubik", sans-serif;
  font-display: swap;
}

.payButton {
  display: block;
  width: 82%;
  margin: auto;
  height: 50px;
  border-radius: 7px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #127EB1;
  color: #FFFFFF;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.payButton.danger {
  background-color: #EF233C;
}

.payButton:hover {
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 4px 1px rgba(0, 0, 0, 0.7);
}

.payButton:disabled:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  cursor: not-allowed;
}

.payButton .spinner {
  width: 2em;
  height: 2em;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

@media screen and (max-width: 490px) {
  .payButton {
    width: 85%;
  }
}
