@import "./../../../styles/variables.scss";

.dashboard {
    background-color: rgba($color: grey, $alpha: 0.3);
    height: 100%;
    flex: 1;
    overflow-y: auto;

    .hamburger {
        position: relative;
        display: none;
        right: 20px;
        z-index: 2000;

        @media screen and (max-width: 880px) {
            display: block;
        }

        @media screen and (max-width: 768px) {
            right: 0;
        }

        label {
            display: flex;
            flex-direction: column;
        }

        &_bars {
            height: 5px;
            width: 35px;
            border-radius: 40px;
            display: inline-block;
            background-color: #000000;
            margin: 2px 0;
            cursor: pointer;
            transition: all 0.3s linear;
        }

        &_check {
            position: fixed;
            margin: 0;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateX(99999px);

            &:checked + label {
                & .hamburger_bars:nth-of-type(1) {
                    transform: rotate(45deg);
                }
                & .hamburger_bars:nth-of-type(2) {
                    opacity: 0;
                }
                & .hamburger_bars:nth-of-type(3) {
                    position: absolute;
                    top: 1px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    nav {
        border-bottom: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;

        h2 {
            margin: 0;
            font-size: 1.2em;
            color: $fidalgo;
        }

        button {
            outline: none;
            border: 2px solid $fidalgo;
            color: $fidalgo;
            font-weight: bold;
            cursor: pointer;
            font-family: $N;
            font-size: 1.2em;
            border-radius: 25px;
            padding: 0.5em 2em;
            background-color: transparent;
            transition: background 0.3s linear;

            &:hover {
                background-color: $fidalgo;
                border: 2px solid $fidalgo;
                color: #fff;
            }
        }
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $fidalgo;
        background-color: $white;
        box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
        padding: 2em;
        margin: 2em auto;
        border-radius: 5px;
        width: 85%;
        text-align: right;

        h1,
        h2,
        p {
            margin: 0;
        }

        button {
            outline: none;
            border: none;
            font-size: 5em;
            border-radius: 50%;
            width: 1em;
            height: 1em;
            background-color: $fidalgo;
            color: $white;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and( max-width: 600px ){
            width: 80%;
        }
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 92%;
        margin: 2em auto;

        div {
            background-color: $white;
            box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
            width: 30%;
            text-align: center;
            padding: 1em 0;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
        }

        @media screen and( max-width: 600px ){
            flex-direction: column;
            margin: .5em auto;

            div{
                width: 100%;
                margin: 1em auto;
            }
        }
    }
}
